html,
body {
  height: 100%;
}

body {
  background: url(http://pearldrum.com/common/assets/images/background.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.layer {
  background-color: rgba(85, 85, 85, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.drums {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  margin: 120px auto;
}
.drums .drumkit {
  text-align: center;
  vertical-align: middle;
}
.drum {
  border: 4px solid black;
  width: 90px;
  height: 80px;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.6s;
}
.drum:hover, .drum.playing {
  box-shadow: 0 0 10px #fff;
  transform: scale(1.05);
}
.drum-note {
  display: block;
  text-transform: uppercase;
  margin-top: 10px;
  color: white;
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
}
.drum-sound {
  text-transform: uppercase;
  margin-top: 10px;
  color: #ffc600;
  font-size: 12px;
}

